* {
    /*Universal Reset (get rids of the spaces) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    background-color: #107dac;
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-1 {
    /* border: blue solid; */
    min-height: 80vh;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendar-container {
    /* border: red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 500px;
    background-color: #1ebbd7;
    border-radius: 10px;
}

.calendar {
    overflow: hidden;
    background-color: #005073;
    border-radius: 10px;
    height: auto;
    width: 500px;
    color: white;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.task-container {
    margin: 20px;
    width: 500px;
    height: 420px;
    background-color: #005073;
    border-radius: 10px;
}


.btn {
    cursor: pointer;
}

#month-year {
    font-weight: bold;
    font-size: 20px;
}

.weekdays,
.days {
    display: flex;
    flex-wrap: wrap;
}

.days {
    height: 300px;
}

.weekdays div,
.days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.days div {
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days div:hover {
    background-color: white;
    color: orangered;
}

.days .today {
    background-color: orangered;
    color: white
}

.days .fade {
    color: #838383;
}

.date-container {
    /* border: red solid; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    text-transform: capitalize;
    padding: 20px;
    color: white;
}

button {
    cursor: pointer;
}

.task-action {
    display: flex;
    flex: row;
}

.task-action button {
    width: 50%;
    margin: 20px;
    background-color: #1ebbd7;
    border: 0;
    border-radius: 10px;
}

.task-action button i {
    font-size: 20px;
}

.date-container .event-day {
    font-size: 2rem;
    font-weight: 500;
}

.date-container .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #b9bbca;
}

.title-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
    margin-top: 30px;
    gap: 10px;
}

.title-header img {
    height: 35px;
}

.title-header h1 {
    color: white;
}

.single-task-details-day {
    padding: 0 20px;
    width: 98%;
    height: 70%;
    overflow-y: auto;
}

.tasks {
    overflow-y: auto;
    width: 98%;
    height: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.task-card {
    width: 95%;
    height: 100px;
    padding: 2px 7px;
    background-color: #1ebbd7;
    border-radius: 10px;
    border: none;
}

.task-card h1,
.task-card p {
    text-align: left;
}

.task-card p {
    height: 50%;
    overflow: hidden;
}
